---
import {BASE, FIRST_ACTIVE, LAST_ACTIVE, MID_ACTIVE} from "../consts";
const {href, local, ...props} = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
const base_href = '/' + BASE + href;
---

<div>
    {isActive ? (
        local == "first" ?
                <div class="active first" style={`background-image: url('${FIRST_ACTIVE}');`}>
                    <slot/>
                </div> :
            local == "last" ?
                    <div class="active last" style={`background-image: url('${LAST_ACTIVE}');`}>
                        <slot/>
                    </div> :
                    <div class="active mid" style={`background-image: url('${MID_ACTIVE}');`}>
                        <slot/>
                    </div>
    ) : (
            <a href={base_href} {...props}>
                <slot/>
            </a>
    )}
</div>


<style>
    a {
        display: inline-block;
        text-decoration: none;
    }

    .active {
        position: relative;
        color: black;
        width: 260px;
        height: 60px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: heartbeat 0.7s infinite cubic-bezier(0.25, 1, 0.5, 1);
        font-weight: bold;
    }

    @keyframes heartbeat {
        0%, 100% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.15);
        }
    }
</style>
